<nav class="navbar navbar-expand-md navbar-dark fixed-top nav-custom-style">
  <!-- Brand/logo -->
  <a class="navbar-brand brand-custom-style mr-5" href="#">CMA Resource Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <!-- Employee ID -->
    <span class="navbar-text w-25 font-weight-bold mr-auto text-white">
      Employee ID : 1739726
    </span>
    <ul class="navbar-nav navbar-right">
      <!-- NAME -->
      <span class="navbar-text font-weight-bold mr-auto ml-5 text-white">
        Akash Dhanwar
      </span>
      <!-- Role Select -->
      <li class="nav-item dropdown mr-auto">
        <button type="button" class="btn text-white dropdown-toggle font-weight-bold" data-toggle="dropdown">
          (Admin)
         </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Manager</a>
          <a class="dropdown-item" href="#">Supervisor</a>
          <a class="dropdown-item" href="#">Associate</a>
        </div>
      </li>
      <!-- Options LOGOUT -->
      <li class="nav-item dropdown">
        <button role="button" type="button" class="btn dropdown" data-toggle="dropdown">
          <i class="fa fa-user fa-2x text-white"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#"><i class="fa fa-user fa-lg pr-3"></i>Profile</a>
          <a class="dropdown-item" href="#"><i class="fa fa-sign-out fa-lg pr-3"></i>Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>